# Build results
bin/
obj/
out/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# VS Code
.vscode/

# Rider
.idea/

# Logs
*.log

# NuGet packages
*.nupkg
*.snupkg
# Optional: keep packages folder if you restore locally
packages/

# Others
*.DS_Store
Thumbs.db

# dotenv
.env
